* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

#main {
    display: flex;
    flex: 1;
}

#main > article {
    flex: 1;
}

.form-inline {
    text-align: center;
}

#main > aside {
    flex: 0 0 20vw;
    background: #dcf5dc;
}

header {
    background: #7eb685;
    height: 9vh;
}

footer {
    background: #7eb685;
    height: 5vh;
}

header, footer, article, nav, aside {
    padding: 1em;
}

.table {
    margin: auto;
}

.table_row {
    width: 20%;
}

.table_column {
    cursor: pointer;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #d4eed4;
}

.table_detail {
    width: 30%;
}

.table_rating {
    width: 10%;
    text-align: center;
    vertical-align: middle;
}

h1, h2, h3, h4 {
    display: inline-block;
}

.actor_bullet {
    list-style: none;
}

.actor_bullet > li::before {
    content: "⭐";
    display: inline-block;
    margin-right: 0.2rem;
}

.director_bullet {
    list-style: none;
}

.director_bullet > li::before {
    content: "🎬";
    display: inline-block;
    margin-right: 0.2rem;
}

iframe {
    text-align: center;
    width: 100% !important;
    height: 360px !important;
}

.carousel {
    width: 640px;
    height: 360px;
}

.link_moviedb {
    color: #85a587;
}

.link_moviedb:hover {
    color: #566a57;
}

.form_center {
    width: 40%;
    margin: auto;
}

.form_acc {
    width: 30%;
    margin: auto;
}

.checkbox_gatunek {
    column-count: 3;
    column-gap: 2rem;
    list-style: none;
}